@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" id="leftFloat">
    <p> Love to Cook! </p>
    <img class="LoveToCookLandingImage"/>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Join Now</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Login</a></p>
</div>
<div class="jumbotron" id="rightFloat">
    <p> Love to Eat! </p>
    <img class="LoveToEatLandingImage" />
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Join Now</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Login</a></p>
</div>
