@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" id="leftFloat">
    <p>Take or Dine, bitches!</p>
    <p class="lead">ASP.NET is a free web</p>
    <img src="C:\Users\VeerAka\Desktop\Work\takeOrDine\AngelHack\images\plate4.jpeg" id="landingImage">
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Join Now &raquo;</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>
<div class="jumbotron" id="rightFloat">
    <p>Take or Dine, bitches!</p>
    <p class="lead">ASP.NET is a free web</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Join Now &raquo;</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>
